/**********************************************************************/
/* chef.rc                                                          */
/*                                                                    */
/* Win32 resource file                                                */
/**********************************************************************/
#include <windows.h>
IDI_ICON1               ICON    DISCARDABLE     "chef.ico"
